.titl1{
    font-family: "Mongolian Baiti";
    color: aqua;
}
.col{
    color: aqua;
}
.tit{
    color: white;
}
.hihi{
    color: yellow;
}
.imgg{
    color: white;
}
.do{
    color: red;
}
.body{
    background: rbg(89,85,71);
}